@use "../variables/variables";

body {
  font-family: variables.$main-font-family;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  min-height: 100vh;
}

.buttons-container {
  display: flex;
  gap: 50px;
}
