@import url(/node_modules/@fontsource/rajdhani/700.css);
@import url(/node_modules/@fontsource/rajdhani/400.css);

$cell-dark-color: #172432;

$main-font-family: rajdhani, sans-serif;

$title-font-weight: 700;
